@typeparam TModel
@inject IStringLocalizer<SearchColumnsSelector> localizer
 
<div class="dropdown" @ref="DropdownElement">

    <button class="btn btn-outline-primary text-start" 
            style="margin-top:11px; height:40px;;"
            type="button"
            @onclick="ToggleDropdown">  
       @*  <i class="bi bi-list-check"></i>  *@
        <i class="bi bi-ui-checks"></i>
    </button>

    @if (IsDropdownOpen)
    {
        <ul class="dropdown-menu show p-2"
            style="max-height:150px;width:250px; overflow:auto;"
            dir="@(IsArabic ? "rtl" : "ltr")">

            <!-- البحث -->
            <li class="mb-2">
                <input type="text"
                       class="form-control form-control-sm w-100 h-25"
                       placeholder="@localizer["Search"]"
                       @bind="SearchText"
                       @bind:event="oninput" />
            </li>

            <!-- Select/Unselect -->
            <li class="d-flex justify-content-between mb-2">
                <button type="button" class="btn btn-sm btn-success me-1" @onclick="SelectAll">@localizer["SelectAll"]</button>
                <button type="button" class="btn btn-sm btn-danger" @onclick="UnselectAll">@localizer["UnselectAll"]</button>
            </li>

            <!-- الأعمدة -->
            @foreach (var col in FilteredColumns)
            {
                if (!InvisibleColumns.Contains(col))
                {
                    <li>
                        <label class="form-check-label w-100 d-flex align-items-center">
                       
                                <!-- العربي: تشيك بوكس يمين + نص شمال -->
                                <input type="checkbox"
                                       class="form-check-input @(IsArabic ? "ms-2" : "me-2")"
                                       value="@col"
                                       checked="@SelectedColumns.Contains(col)"
                                       @onchange="() => ToggleColumn(col)" />
                                <span>@Localizer?[col]</span>
                          
                        </label>
                    </li>
                }
            }
        </ul>


    }
</div>




    @* </div> *@
@* 
    <div  >  

        @if (SelectedColumns.Any())
        {
            <div class="w-100 d-flex overflow-auto custom-scroll"
                 style="white-space:nowrap; max-width:100%;   border:1px solid #e0e0e0; border-radius:6px; padding:5px;">
                @foreach (var col in SelectedColumns)
                {
                    <span class="badge bg-primary d-inline-flex align-items-center justify-content-between me-2"
                          style=" height:30px; font-size:0.75rem; flex:0 0 auto;">
                        <span class="text-truncate">@Localizer?[col]</span>
                        <button type="button" class="btn-close btn-close-white ms-1"
                                style="font-size:0.6rem;"
                                @onclick="() => RemoveColumn(col)">
                        </button>
                    </span>
                }
            </div>
        } 

     </div>  *@
 
